

.posts-wrapper{
  a{
    text-decoration: none;
  }

  .posts{
    &-item{
      min-height: 4rem;
      box-shadow: var(--shadow-sm);
      padding-right: 1rem;
      overflow: hidden;
      margin: 1rem 0;
      transition: .2s;
      background: var(--bg-primary);

      .profile{
        width: 4rem;
        img{
          width: 3rem;
          margin: .5rem;
          border-radius: 100%;
        }
      }

      .title{
        font-size: 1.2rem;
        margin: 0 1rem;
      }
      .timestamp{
        font-size: .8rem;
      }
    }

  }


}
